.count-button{
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color:#ff6701 ;
    padding: 3px 15px;
    display: inline-block;
    height: 25px;
    width: 30px;
    color: black;
    font-size: 1.2rem;
    margin-top: 58px;
    border-radius: 10px;
    font-weight: bolder;
}
.count-value{
     display: inline-block;
     margin: 0px 7px 0px 7px;
    font-size: 1.4rem;
    margin-top: 60px;
}
#count-container{
    display: flex;
    margin: 7px 35px;
    
}
.count-button:hover{
    color:#6ab317;
    opacity: 1;
}

@media (max-width:500px) {

    .count-button{
         margin: 0;
    }
    #count-container{
        display: inline;
        margin: 0 0 0 10%;
    }
    .count-value{
        margin: 0;
    }
    .count-button{
        display: inline-block;
        width: 2vw;
        margin-top: 0px;
    }

    
}